{% extends "layout.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
		<h3>Motivation</h3><br>
		<h5 align="justify">Today, most medical care depends on a steady supply of blood from donors, as one in seven people entering the hospital need blood. For Moffitt, as cancer care increases, so does the demand for blood and platelet donations. An adequate amount of blood is needed in all health care facilities to meet the urgent need for patients facing trauma and other lifesaving procedures, such as blood transfusions – which saves millions of lives each year.</h5><br>
		<h5 align="justify">India fell short of 1.9 million units of blood in 2016-17–equivalent to 60 tankers–that could have aided more than 320,000 heart surgeries or 49,000 organ transplants, according to official data.</h5> <br>
			<img src="https://www.centurypa.com/images/blog/Blood%20donation.jpg" style="width:400px;height:300px;"><br>
		<h5 align="justify">This is an increase from a shortage of 1.1 million units or 35 tankers in 2015-16, when India had fallen 9% short of its 12 million target.</h5><br>
			<img src="https://cdn.dnaindia.com/sites/default/files/styles/full/public/2019/01/29/783772-blood-donation-camp-03.jpg" style="width:600px;height:300px;"><br>

		<h3>Objectives</h3><br>
		<h5>- Appropriate management of existing resources.<br>
			- Digital awareness about blood donation camps for better reach.<br>
			- Availability of proper management system for effective planning.<br>
		</h5><br>
	</div>
	</div>
</div>

	{% if current_user.role=='app_admin' %}
		<img src="{{ url_for('main.total_donation_bar_plot') }}" alt="my plot">
		<img src="{{ url_for('main.total_utilisation_bar_plot') }}" alt="my plot">
	{% endif %}
{% endblock content %}
